:root {
  --mui-palette-primary-main: #cc000e;
  --mui-palette-secondary-main: #161313;
  /* --mui-palette-surface-main: #130f0f; */
  --mui-palette-surface-main: #F8F9FC;
  /* ...other variables */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--mui-palette-surface-main) !important;
  /* color: white !important; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.MuiCardMedia-img {
  object-fit: contain !important;
}

.MuiInputBase-root,
.MuiButtonBase-root,
.MuiCard-root,
table {
  border-radius: 0 !important;
}

.MuiButtonBase-root {
  text-transform: none !important;
}

.MuiDrawer-paper {
  background-color: var(--mui-palette-secondary-main) !important;
}

.MuiCardContent-root {
  padding: 16px 16px 0px 16px !important;
}

.MuiCardActions-root {
  padding: 0 16px 16px 16px !important;
}
